@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", monospace;
  transition: 0.3s linear;
  list-style: none;
  border: none;
  outline: none;
}

.home {
  background: #0f0f0f;
  height: 100vh;
}
.home .icons {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.home .icons a {
  color: #fff;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.062745098);
  width: 46px;
  height: 46px;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .icons a:hover {
  background: rgba(255, 255, 255, 0.0235294118);
}
.home .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  top: 64px;
}
.home .content .title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}
.home .content .title span i {
  background: linear-gradient(to right, #ee0049 5%, #00e7dc);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .content .box, .home .content .register, .home .content .gameMenu, .home .content .leaderstats {
  margin-top: 48px;
  border-radius: 16px;
  width: 65%;
  height: 256px;
  background: rgba(255, 255, 255, 0.0235294118);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.home .content .box .time, .home .content .register .time, .home .content .gameMenu .time, .home .content .leaderstats .time {
  height: 32px;
  width: 72px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
}
.home .content .box .time p, .home .content .register .time p, .home .content .gameMenu .time p, .home .content .leaderstats .time p {
  font-size: 16px;
  font-weight: 400;
}
.home .content .box p, .home .content .register p, .home .content .gameMenu p, .home .content .leaderstats p {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.home .content .box p:hover, .home .content .register p:hover, .home .content .gameMenu p:hover, .home .content .leaderstats p:hover {
  color: #ee0049;
  cursor: pointer;
}
.home .content .box .name input, .home .content .register .name input, .home .content .gameMenu .name input, .home .content .leaderstats .name input {
  padding: 3px 9px;
  border-radius: 16px 0 0 16px;
  background: rgba(255, 255, 255, 0.062745098);
  color: #fff;
  height: 32px;
  width: 196px;
}
.home .content .box .name #enterName, .home .content .register .name #enterName, .home .content .gameMenu .name #enterName, .home .content .leaderstats .name #enterName {
  width: 32px;
  border-radius: 0 16px 16px 0;
}
.home .content .box .select, .home .content .box .name, .home .content .register .select, .home .content .register .name, .home .content .gameMenu .select, .home .content .gameMenu .name, .home .content .leaderstats .select, .home .content .leaderstats .name {
  margin-top: 48px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.home .content .box .select button, .home .content .box .name button, .home .content .register .select button, .home .content .register .name button, .home .content .gameMenu .select button, .home .content .gameMenu .name button, .home .content .leaderstats .select button, .home .content .leaderstats .name button {
  height: 32px;
  width: 96px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.0823529412);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.home .content .box .select button.hide, .home .content .box .name button.hide, .home .content .register .select button.hide, .home .content .register .name button.hide, .home .content .gameMenu .select button.hide, .home .content .gameMenu .name button.hide, .home .content .leaderstats .select button.hide, .home .content .leaderstats .name button.hide {
  display: none;
}
.home .content .box .select button:hover, .home .content .box .name button:hover, .home .content .register .select button:hover, .home .content .register .name button:hover, .home .content .gameMenu .select button:hover, .home .content .gameMenu .name button:hover, .home .content .leaderstats .select button:hover, .home .content .leaderstats .name button:hover {
  background: rgba(255, 255, 255, 0.062745098);
  color: #ee0049;
}
.home .content .register .name {
  gap: 0;
}
.home .content .leaderstats .stats {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.home .content .leaderstats .return {
  margin-top: 16px;
}
.home .content .leaderstats .return button {
  padding: 3px 9px;
  border-radius: 16px;
  height: 32px;
  background: rgba(255, 255, 255, 0.062745098);
  cursor: pointer;
  color: #fff;
  width: 196px;
}
.home .content .leaderstats .return button:hover {
  background: rgba(255, 255, 255, 0.0235294118);
}
.home .content .gameMenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.home .content .gameMenu button {
  width: 256px;
  height: 32px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.062745098);
  color: #fff;
  cursor: pointer;
}
.home .content .gameMenu button:hover {
  background: rgba(255, 255, 255, 0.0235294118);
  color: #00e7dc;
}
.home .content .box.hide, .home .content .register.hide, .home .content .gameMenu.hide, .home .content .leaderstats.hide {
  display: none;
}
.home .content .result {
  margin-top: 32px;
  display: none;
}
.home .content .result h2 {
  color: #fff;
  font-weight: 400;
}
.home .content .result h2 span {
  font-weight: 600;
  text-decoration: underline;
}
.home .content .result.show {
  display: block;
}

@media screen and (max-width: 868px) {
  .home .content .box, .home .content .register, .home .content .gameMenu, .home .content .leaderstats {
    width: calc(100% - 16px);
  }
  .home .content .box .select, .home .content .register .select, .home .content .gameMenu .select, .home .content .leaderstats .select {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
